@model WaterMeter.Web.Areas.Administration.Models.Meter.MeterListModel

@if (Model == null || !Model.Meters.Any())
{
    <p>There are no meters</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var meter in Model.Meters)
        {
            <tr>
                <td>@meter.SerialNumber</td>
                <td>@Html.ActionLink("Edit", "Edit", new {meter.Id})</td>
            </tr>
        }
        </tbody>
    </table>
}

@Html.ActionLink("Add new meter", "Create")